* {
  font-family: "Nunito", sans-serif;
}
.hero-section {
  min-height: 60vh;
  background: linear-gradient(to bottom right, #0b0d14, #0b1b2b);
  color: white;
  padding: 2rem 2rem;
  font-family: "Poppins", sans-serif;
}

.hero-content {
  max-width: 800px;
}

.badge-text {
  background-color: #1f2330;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  display: inline-block;
}

.intro-text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ccc;
}

.highlight {
  color: #d9713a;
  font-weight: bold;
}

.main-heading {
  font-size: 2.5rem;
  font-weight: 800;
  color: #eee;
}

.sub-text {
  color: #bbb;
  font-size: 1.1rem;
}

.tech-stack {
  font-size: 1rem;
  color: #eee;
}

.hire-btn {
  background: linear-gradient(to right, #df7c2b, #ff7b00);
  color: white;
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  font-weight: 600 !important;
  transition: background 0.9s;
  font-size: large !important;
}

.hire-btn:hover {
  background: linear-gradient(to right, #ff7300, #d3822b);
}

.view-btn {
  background-color: #1f2330 !important;
  color: white !important;
  border: 1px solid #444;
  padding: 0.6rem 1.4rem;
  border-radius: 8px;
  font-weight: 600 !important;
  transition: background 0.3s, color 0.3s;
  font-size: large !important;
}

.view-btn:hover {
  background-color: #3864f2 !important;
  /* color: #d8935c; */
}

.hero-image {
  /* max-width: 100%;
  height: auto;
  width: 550px; */
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
}

@media (max-width: 768px) {
  .hero-image {
    width: 560px !important; /* Adjust width for smaller screens */
    height: auto; /* You can set fixed height like 100vh if you want full screen height */
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  .col-md-6.text-center.mt-5.mt-md-0 {
    padding: 0;
  }
}

/* Services Section */

.services-section {
  background: linear-gradient(to top right, #0b0d14, #0b1b2b);
  padding: 2rem 2rem;
  color: #ffffff;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.section-title .highlight {
  color: #e1631f;
}

.section-subtitle {
  color: #cccccc;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.service-card {
  background-color: #1c2230;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  height: 100%;
  text-align: left;
}

.service-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.05);
  border-bottom-left-radius: 100%;
}

.icon-wrapper {
  background-color: #2e2e3f;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9713a;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.service-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.service-text {
  font-size: 1rem;
  color: #ccc;
}

/* Skills Section */

.tech-skills-section {
  background: linear-gradient(to bottom right, #0b0d14, #0b1b2b); /*#0e1117;*/
  padding: 4rem 1rem;
  color: white;
}

.tech-skills-section .highlight {
  color: #d9713a;
}

.tech-skills-section .subtitle {
  color: #ccc;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.skill-card {
  background-color: #0e1117 !important;
  border: none;
  border-radius: 12px;
  padding: 1rem 0.5rem;
  transition: transform 0.2s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  background-color: #4a4a4a !important;
}

.skill-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background-color: #ffffff6d !important;
  padding: 5px;
  border-radius: 12px;
}

.skill-name {
  font-weight: 600;
  font-size: 1rem;
  color: white !important;
}

/* Resume Section */
.resume-section {
  background: linear-gradient(to top right, #0b0d14, #0b1b2b);
  padding: 80px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: white;
}

.projects-home-section {
  background: linear-gradient(to bottom right, #0b0d14, #0b1b2b);
  padding: 80px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: white;
}

.resume-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.resume-heading .highlight {
  color: #d86323;
}

.resume-subtext {
  font-size: 1rem;
  color: #fefefe;
  margin-top: 10px;
}

.download-btn {
  background: linear-gradient(145deg, #df7c2b, #ff7b00);
  border: none;
  color: black !important;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 700 !important;
  font-size: large !important;
  transition: all 0.3s ease !important;
}

.projects-btn {
  background: linear-gradient(145deg, #df7c2b, #ff7b00);
  border: none;
  color: black !important;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 700 !important;
  font-size: large !important;
  transition: all 0.3s ease !important;
  text-decoration: none !important;
}

.projects-btn:hover {
  background: linear-gradient(to left, #df7c2b, #ff7b00);
  transform: translateY(-2px);
  color: white !important;
}

.download-btn:hover {
  background: linear-gradient(to left, #df7c2b, #ff7b00);
  transform: translateY(-2px);
  color: white !important;
}

/* Experience Section */
.experience-section {
  background: linear-gradient(to bottom right, #0b0d14, #0b1b2b);
  padding: 4rem 0;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.education-section {
  background: linear-gradient(to top right, #0b0d14, #0b1b2b);
  padding: 4rem 0;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.experience-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.experience-title .highlight {
  color: #d86323;
}

.experience-subtitle {
  color: #a5a5a5;
  margin-bottom: 2rem;
}

.experience-card {
  background-color: #0e1016 !important;
  border-radius: 16px;
  margin-bottom: 1.5rem;
  border: none;
  padding: 1rem;
  text-align: left;
}

.company-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 12px;
}

.company-name {
  font-weight: 700;
  color: #ffffff;
  font-size: x-large;
}

.role-title {
  color: #ccc !important;
  font-weight: 500;
  font-size: large;
}

.skills-text {
  color: #ff5900cf !important;
  font-weight: 500;
  font-size: large;
}

.date-badge {
  background-color: #4d3c36 !important;
  color: #d86323 !important;
  padding: 0.6rem 0.8rem !important;
  font-size: 0.9rem !important;
  margin-top: 0.2rem;
  text-align: right !important;
  margin-left: auto !important;
}

.date-badge-edu {
  background-color: #4d3c36 !important;
  color: #d86323 !important;
  padding: 0.6rem 0.8rem !important;
  font-size: 0.9rem !important;
  margin-top: 0.2rem;
  text-align: right !important;
  margin-left: auto !important;
}

.description {
  color: #a5a5a5;
  font-size: large;
}

/* Small Devices (Max width: 576px) */
@media (max-width: 576px) {
  .experience-section {
    padding: 2rem 1rem !important;
  }

  .experience-title {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }

  .experience-subtitle {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .experience-card {
    padding: 1rem 0.75rem;
  }

  .company-logo {
    width: 100px;
    height: 100px;
  }

  .company-name {
    font-size: 1.25rem;
  }

  .role-title,
  .skills-text,
  .description {
    font-size: 1rem;
    text-align: left;
  }

  .date-badge {
    font-size: 0.75rem !important;
    padding: 0.4rem 0.6rem !important;
    margin: 1rem 0rem;
    align-items: flex-start !important;
    margin-right: 50px;
  }
  .date-badge-edu {
    font-size: 0.75rem !important;
    padding: 0.4rem 0.6rem !important;
    margin: 1rem 0rem;
    align-items: flex-start !important;
    margin-right: 85px;
  }
}

/* Medium Devices (Max width: 768px) */
@media (max-width: 768px) {
  .experience-card .row {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }

  .experience-card .col-md-2,
  .experience-card .col-md-10 {
    width: 100% !important;
    padding: 0 !important;
  }

  .company-logo {
    margin: 0 auto 1rem auto;
  }

  .company-name {
    margin-top: 0.5rem;
  }
  .date-badge {
    font-size: 0.75rem !important;
    padding: 0.4rem 0.6rem !important;
    margin: 1rem 0rem;
    align-items: flex-start !important;
    margin-right: 50px;
  }
}
